
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}




/* Basic */


	body {
		background: black;
	}


	.inner {
		margin: 0 auto;
		max-width: 70em;
	}



/* Type */

	body, input, select, textarea {
		color: #767d85;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #F93822FF;
		font-weight: 700;
		font-family: "Montserrat", sans-serif;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}


	h1 {
		font-size: 2em;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}



/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px #A74AC7;
		margin-bottom: 2em;
		overflow: hidden;
	}

/* Flex */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: nowrap;
		-ms-flex-pack: justify;
		-ms-flex-align: stretch;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-wrap: nowrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
	}

		.flex.flex-3 .flex-item {
			-ms-flex: 0 1 auto;
			-ms-flex-preferred-size: 30%;
			-moz-flex-basis: 30%;
			-webkit-flex-basis: 30%;
			-ms-flex-basis: 30%;
			flex-basis: 30%;
		}



/* Wrapper */

	.wrapper {
		padding: 6em 0 4em 0;
	}
	
		.wrapper h3, .wrapper h5{
			color: aqua;

	}
		.wrapper h2{
			color: black;
		}

		.wrapper h1, .wrapper h4 {
			color: #A74AC7;
		}

		.wrapper.style1 {
			background: #f6755e;
			color: #fcdcd6;
		}


			

/* Header */

	body {
		padding-top: 6em;
	}

	#header {

		align-items: center;
		background: black;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 6em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
		text-align: center;
	}

		#header .logo {
			color: #f6755e;
			font-family: "Pacifico", cursive;
			font-size: 2.5em;
			letter-spacing: 2px;
			margin-top: -5px;
			text-decoration: none;
			display: inline-block;
		}

/* Banner */

	#banner {
		padding: 19em 0 20em 0;
		background-image: url(../../images/banner.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		text-align: center;
	}
	
